<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.LoginServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>ListStudent</servlet-name>
  	<display-name>ListStudent</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.ListStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentList</servlet-name>
  	<display-name>StudentList</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.StudentList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAllStudent</servlet-name>
  	<display-name>ListAllStudent</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.ListAllStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListClasses</servlet-name>
  	<display-name>ListClasses</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.ListClasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListSubject</servlet-name>
  	<display-name>ListSubject</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.ListSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListTeachers</servlet-name>
  	<display-name>ListTeachers</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.ListTeachers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentReport</servlet-name>
  	<display-name>StudentReport</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.StudentReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>classesAndteachers</servlet-name>
  	<display-name>classesAndteachers</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.classesAndteachers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>classesAndsubjects</servlet-name>
  	<display-name>classesAndsubjects</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.classesAndsubjects</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>studentAndclasses</servlet-name>
  	<display-name>studentAndclasses</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.studentAndclasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReoprtServlet</servlet-name>
  	<display-name>ReoprtServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlet.ReoprtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>ListStudent</servlet-name>
  	<url-pattern>/ListStudent</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>StudentList</servlet-name>
  	<url-pattern>/StudentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllStudent</servlet-name>
  	<url-pattern>/ListAllStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListClasses</servlet-name>
  	<url-pattern>/ListClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListSubject</servlet-name>
  	<url-pattern>/ListSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListTeachers</servlet-name>
  	<url-pattern>/ListTeachers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentReport</servlet-name>
  	<url-pattern>/StudentReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>classesAndteachers</servlet-name>
  	<url-pattern>/classesAndteachers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>classesAndsubjects</servlet-name>
  	<url-pattern>/classesAndsubjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>studentAndclasses</servlet-name>
  	<url-pattern>/studentAndclasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReoprtServlet</servlet-name>
  	<url-pattern>/ReoprtServlet</url-pattern>
  </servlet-mapping>
</web-app>
